@import "~normalize.css";

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #254163;
  font-size: 14px;
  font-family: "PingFang SC", Arial, Helvetica, sans-serif;
  color: #333;
}
%sm-pad {
  padding: 12px;
}
.gap-bottom {
  margin-bottom: 30px;
}
.list {
  width: 95%;
  max-width: 360px;
  margin: 0 auto;
}
.list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  @extend %sm-pad;
}
.item-cover {
  display: inline-block;
  width: 320px;
}
.ph {
  height: 40px;
}
.text-link {
  text-decoration: underline;
}
